body {
    /* background-color: red; */
}

/* nav bar */
#navbar {
    flex-direction: column;
    top: -10px;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
}

/* home */
#home::before {
    top: -200px;
    height: 135%;

}

#home {
    padding: 12px 52px;
}

#home p {
    font-size: 20px;
}

.btn {
    font-size: 13px;
    padding: 10px 20px;
    margin: 20px 15px;
}

/*services */
#service {
    flex-wrap: wrap;
}

/* clients */
#clients {
    flex-wrap: wrap;
}

#clients img {
    width: 80px;

}

/* contact us */

#contact-box form {
    width: 80%;
}


/* utility */
.h-primary-center {
    font-size: 30px;
}