/* css reset */
* {
    margin: 0px;
    padding: 0px;
}

/* variables */
:root {
    --navbar-height: 89px;
}

/* navigation bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    font-family: 'Baloo Bhai';

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

/* navbar: logo and img */
#logo {
    margin: 4px 20px;
}

#logo img {
    margin: 3px 5px;
}

/* navbar: list style */
#navbar ul {
    display: flex;
    align-items: center;

}

#navbar ul li {
    list-style: none;
    font-size: 1.7rem;

}

#navbar ul li a {
    color: white;
    padding: 2px 12px;
    border-radius: 20px;
    text-decoration: none;
    display: block;

}

#navbar ul li a:hover {
    color: black;
    background-color: white;

}

/* Home section */
#home {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 582px;
    padding: 3px 200px;
    font-family: 'Baloo Bhai';
}

#home h1 {
    color: white;
}

#home p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

#home::before {
    content: "";
    background: url('/img/bg/bg2.jpg') no-repeat center center/cover;
    position: absolute;
    height: 120%;
    width: 100%;
    top: -121px;
    left: 0;
    z-index: -1;
    opacity: 0.6;

}

/* utility */
.h-primary-center {
    padding: 8px;
    font-size: 2.8rem;
    font-family: 'baloo bhai';
    text-align: center;
}

.h-secondary-center {
    font-size: 1.8rem;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.btn {
    color: white;
    font-weight: bolder;
    background-color: rgb(196, 104, 104);
    padding: 8px 26px;
    margin: 20px;
    font-size: 1.2rem;
    border: 2px solid white;
    border-radius: 12px;
    cursor: pointer;

}

/* Services section */

#service {
    display: flex;
    padding-bottom: 2rem;
}


.box img {
    width: 200px;
    height: 160px;
    display: block;
    margin: auto;
}

.services-container #service p {
    padding: 8px;
    font-size: 1.2rem;
}


#service .box {
    border: 2px solid red;
    border-radius: 23px;
    text-align: center;
    padding: 25px 35px;
    margin: 12px 15px;
    background-color: rgb(247, 232, 232);
}

/* client section */

#client-section {
    position: relative;
}

#clients {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.client-items img {
    width: 160px;
}

.client-items {
    padding: 12px 18px
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('/img/bg/bg1.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

/* contact section */

#contacts {
    position: relative;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
}

#contact-box form {
    width: 40%;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
}

#contacts::before {
    content: "";
    position: absolute;
    background: url('/img/bg/contact.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}




/* footer section */
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 9px 20px;
}